**/*.gem
**/.bundle
.**/ruby-gemset
**/.ruby-version
pkg/*
**/.DS_Store
**/._*
**/.idea/
**/.redcar/
**/bin/
**/spec/dummy/tmp/
**/spec/dummy/db/*.sqlite3
**/spec/dummy/log/*.log
**/Gemfile.lock
**/*.gemfile.lock
